@page "/verCharts"

<PageTitle>Home</PageTitle>

<h1>Dashbord de reportes</h1>

<iframe src=https://charts.mongodb.com/charts-andresproject-kjbupqg/public/dashboards/e725e8e3-7498-4291-a7a2-2993c4a7669c></iframe>
